<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Chi tiết hóa đơn</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
      <div class="btn-group me-2">
        
      </div>
    </div>
  </div>
  
  <div class="col py-3">
  
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/bill/?status=<%=status%>">Hóa đơn</a></li>
            <li class="breadcrumb-item active"><%= data?._id %></li>
          </ol>
        </nav>
      </div>
      <div class="col text-end fw-lighter">
        <b></b>
      </div>
    </div>
  
  </div>
  
  <ul class="list-group" style="margin-bottom: 50px;">
  
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Người dùng:</b></div>
        <div class="col"><%= data?.username %></div>
      </div>
    </li>
  
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Sản phẩm:</b></div>
            <% for (let pro of data?.products) {%>
          <div class="col">
            <tr>
              <td>
                  <img class="col" style="max-width: 150px" src="<%= pro.image %>" alt="">
              </td>
              <td class="text-bottom">
                <div>Tên: <%= pro.product_name %></div>
                <div>Màu: <%= pro.color %></div>
                <% if(pro.ram != undefined){ %>
                <div>Ram: <%= pro.ram %></div>
                <div>Bộ nhớ: <%= pro.rom %></div>
                <% } %>
                <div>Số lượng: <%= pro.quantity %></div>
                <div class="text-danger">Giá: <%= pro.price.toLocaleString() %> VND</div>
              </td>   
            </tr>   
          </div>         
        <% } %>
      </div>
    </li>

    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Phí vận chuyển:</b></div>
        <div class="col"><%= data?.transport_fee%></div>
      </div>
    </li>

    <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Phương pháp vận chuyển:</b></div>
          <div class="col"><%= data?.shipping_method%></div>
        </div>
      </li>

      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Phương thức thanh toán:</b></div>
          <div class="col"><%= data?.payment_method%></div>
        </div>
      </li>

      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Voucher:</b></div>
          <div class="col"><%= (data?.voucher) ? data?.voucher : "Không sử dụng voucher" %></div>
        </div>
      </li>

      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Trạng thái:</b></div>
          <div class="col"><%= data?.statusText%></div>
        </div>
      </li>

  
      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Ghi chú:</b></div>
          <div class="col"><%= (data?.note) ? data?.note : "Không có dữ liệu" %></div>
        </div>
      </li>

      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Tổng tiền chi:</b></div>
          <div class="col"><%= (data?.import_total) ? data?.import_total.toLocaleString() : "No data" %></div>
        </div>
      </li>

    <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Tổng tiền thu:</b></div>
          <div class="col"><%= data?.total_price.toLocaleString() %> VND</div>
        </div>
      </li>

     
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Ngày tạo:</b></div>
        <div class="col"><%= data?.time.toLocaleString('en') %></div>
      </div>
    </li>
  
    
  </ul>