<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Chi tiết Voucher</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
      <div class="btn-group me-2">
       
      </div>
    </div>
  </div>
  
  <div class="col py-3">
  
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/voucher">Voucher</a></li>
            <li class="breadcrumb-item active"><%= data._id  %></li>
          </ol>
        </nav>
      </div>
      <div class="col text-end fw-lighter">

      </div>
    </div>
  
  </div>
  
  <ul class="list-group">

  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px" > <b>Code: </b></div>
        <div class="col"><%= data.code %></div>
      </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Tình trạng:</b></div>
        <div class="col"><%= data.condition %></div>
      </div>
    </li>

    <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Loại:</b></div>
          <div class="col"><%= data.typeText %></div>
        </div>
      </li>

      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Giảm giá:</b></div>
          <div class="col"><%= data.discount_type_Text %></div>
        </div>
    </li>

    <% if(data.discount_value <= 100){ %>
      <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Giá trị:</b></div>
          <div class="col"><%= data.discount_value.toLocaleString() %>%</div>
        </div>
    </li>
      <% }else{ %>
        <li class="list-group-item"> 
          <div class="row">
            <div class="col" style="max-width: 140px"> <b>Giá trị:</b></div>
            <div class="col"><%= data.discount_value.toLocaleString() %> VND</div>
          </div>
      </li>
      <% } %>

   

  
    <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Mô tả:</b></div>
          <div class="col"><%= data.description %></div>
        </div>
    </li>
  
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Ngày tạo:</b></div>
        <div class="col"><%= data.release_date.toLocaleString('en') %></div>
      </div>
    </li>

    <li class="list-group-item"> 
        <div class="row">
          <div class="col" style="max-width: 140px"> <b>Ngày hết hạn:</b></div>
          <div class="col"><%= data.expiration_date.toLocaleString('en') %></div>
        </div>
      </li>
  

  
  </ul>