<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Notification</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button class="btn btn-sm btn-outline-secondary">?</button>
    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/Notification">Notification</a></li>
          <li class="breadcrumb-item active">Edit Notification</li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>Notification</b>
    </div>
  </div>
</div>

<form action="/notification/edit" method="POST"  enctype="multipart/form-data">
  

  <div class="row form-group mb-4">
    <div class="col">
      <label style="margin: 5px;" for="lastName">Title</label>
      <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      value="<%= data.title %>"
      placeholder="Title"
      required
    />
    </div>
    <div class="col">
      <label style="margin: 5px;" for="lastName">Body</label>
      <input
      type="text"
      class="form-control"
      id="body"
      name="body"
      value="<%= data.body %>"
      placeholder="Body"
      required
    />
    </div>
  </div>

  <div class="row form-group mb-4">

    <div class="row">
        <label style="margin: 5px;" for="lastName">Image</label>
        <tr>
          <td>
            <img
              class="col"
              style="max-width: 150px"
              src="<%= data.image %>"
              alt=""
            />
          </td>
        </tr>
      </div>
    <div class="col">
        <input
          type="file"
          class="form-control"
          id="image"
          name="image"
          placeholder="Image"
        />
      </div>
  </div>
 

  


  <input type="text" id="_id" name="_id" value="<%= data._id %>" hidden>
  <input type="text" id="img" name="img" value="<%= data.image %>" hidden>


 

  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">Edit brand</button>
  </div>
</form>

